@charset "UTF-8";
@import url(c:\Users\Lyagush\Desktop\GitVScode\Reshala\src\main\resources\templates\libs\normalize-css\normalize.css);
@font-face {
  font-family: 'raleway-example';
  src: url("../fonts/RalewayRegular.woff") format("woff");
}

@font-face {
  font-family: 'raleway-example';
  src: url("../fonts/RalewayBold.woff") format("woff");
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: raleway-example, sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* ОБЩИЕ СВОЙСТВА: НАЧАЛО */
html {
  font-size: 16px;
}

body {
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
}

/* ОБЩИЕ СВОЙСТВА: КОНЕЦ */
/* СВОЙСТВА ГРИДОВ: НАЧАЛО */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-auto-rows: 60px 1fr 60px;
  height: 100vh;
}

.grid .logo-container {
  background-color: #F6A821;
}

.grid .search-container {
  background-color: #FFFFFF;
}

.grid div:nth-child(3) {
  background-color: #2A2D35;
}

.grid div:nth-child(4) {
  background-color: #343740;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.grid div:nth-child(5) {
  background-color: #24262D;
}

/* СВОЙСТВА ГРИДОВ: КОНЕЦ */
/* СОВЙСТВА ВСЕХ ССЫЛОК: Начало */
a {
  text-decoration: none;
  color: #949BA2;
}

a:active {
  color: #F5F5F5;
}

a:hover {
  color: #F5F5F5;
}

a:visited {
  color: #949BA2;
}

.user-mail a {
  font-weight: 600;
  color: #6a727a;
  margin-right: 18px;
}

.user-mail a:hover {
  color: #3b3f44;
}

/* СОВЙСТВА ВСЕХ ССЫЛОК: КОНЕЦ */
/* СОВЙСТВА ГРИДА С ЛОГОТИПОМ: НАЧАЛО */
.logo h1 a {
  color: White;
  font-weight: 400;
  letter-spacing: 10px;
  vertical-align: middle;
  padding: 0 0 0 65px;
  float: left;
  line-height: 30px;
}

/* СОВЙСТВА ГРИДА С ЛОГОТИПОМ: КОНЕЦ */
/* СОВЙСТВА ГРИДА ПОИСКА: НАЧАЛО */
.user {
  float: right;
  margin-top: 8px;
  margin-right: 25px;
}

.user div {
  display: inline-block;
  vertical-align: middle;
}

.user-photo {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.round {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.search {
  float: left;
  vertical-align: middle;
  display: inline-block;
  width: calc(100vw - 670px);
}

.search-icon img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 16px;
  left: 25px;
}

.search .form-control {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #949ba2;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transition: none;
  transition: none;
  font-size: 0.88rem;
  height: calc(2.25rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  overflow: visible;
  position: relative;
  top: -26px;
  left: 75px;
  outline: none;
  width: 100%;
}

/* СОВЙСТВА ГРИДА ПОИСКА: КОНЕЦ */
/* СОВЙСТВА ГРИДА С КОНТЕНТОМ: НАЧАЛО */
.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
  padding: 40px 45px 40px 45px;
  grid-gap: 45px;
}

.content-container .content {
  margin-top: 55px;
  overflow: auto;
  border-radius: 4px;
}

.content-container .content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.content-item {
  font-size: 0.88rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(auto, 150px) minmax(auto, auto);
      grid-template-rows: minmax(auto, 150px) minmax(auto, auto);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.content-item-text {
  color: #949BA2;
  background-color: #3B3E47;
  overflow: hidden;
  padding: 12px 20px 20px 20px;
  text-align: justify;
  font-weight: 600;
}

.content-item-buttons {
  padding-top: 5px;
  font-size: 0.88rem;
  background-color: #3B3E47;
}

.content-item-buttons a {
  float: right;
  padding: 0px 15px;
  margin: 0 0 0 2px;
  color: #949BA2;
  background-color: #494B54;
}

.content-item-buttons a:hover {
  background-color: #52555F;
}

.content-item-buttons a:active {
  background-color: #F6A821;
  color: #F5F5F5;
}

.content-item-buttons a:first-child {
  padding-right: 22px;
}

.search-and-bookmarks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  height: 35px;
  background-color: #3B3E47;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  width: calc(100vw - 585px);
}

.search-and-bookmarks .search-info {
  line-height: 35px;
  vertical-align: middle;
  color: white;
  width: 100%;
  padding-left: 20px;
  font-size: 0.88rem;
  font-weight: bold;
  color: #F6A821;
}

.search-and-bookmarks .search-info span {
  color: #949BA2;
  padding-left: 10px;
}

.search-and-bookmarks .bookmarks {
  float: right;
  line-height: 35px;
  vertical-align: middle;
}

.search-and-bookmarks .bookmarks a {
  color: #949BA2;
  background-color: #494B54;
  padding: 10px 20px 10px 20px;
}

.search-and-bookmarks .bookmarks a:hover {
  background-color: #52555F;
}

.search-and-bookmarks .bookmarks a:active {
  background-color: #F6A821;
  color: #F5F5F5;
}

.templates {
  background-color: #3B3E47;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 35px;
      grid-template-rows: 35px;
  grid-auto-rows: auto;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: start;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 4px;
  height: auto;
}

.templates::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.templates .template-column-name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.templates .template {
  padding-top: 10px;
  padding-bottom: 5px;
}

.templates .template .template-name {
  color: #949BA2;
  font-weight: bold;
  line-height: 1.1rem;
  font-size: 0.88rem;
  padding: 0px 18px 5px;
}

.templates .template .template-icon img {
  height: 80px;
}

.templates a {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.templates a:hover {
  background-color: #F6A821;
}

.templates a:hover .template .template-name {
  color: #F5F5F5;
}

.template-column-name {
  color: #F6A821;
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 35px;
  background-color: #2A2D35;
  letter-spacing: 2px;
}

/* СОВЙСТВА ГРИДА С КОНТЕНТОМ: КОНЕЦ */
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
/*# sourceMappingURL=main.css.map */