<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
	
	<div class="grid">
		<div class="logo-container">
			<div class="logo">
				<h1>
					<a href="#">RESHALA</a>
				</h1>
			</div>
		</div>
		<div class="search-container">
			<div class="search">
				<div class="search-icon">
					<img src="/src/main/resources/templates/img/iconfinder_menu-alt_134216.png">
				</div>
				<div class="search-input">
					<input type="text" class="form-control" placeholder="Search data for analysis">
				</div>
			</div>
			<div class="user">
				<div class="user-mail">
					<a href="#">macmail@gmail.com</a>
				</div>
				<div class="user-photo">
					<a href="#">
						<img src="/src/main/resources/templates/img/hqdefault.jpg" class="round">
					</a>
				</div> 
			</div>
		</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
	</div>

	<link rel="stylesheet" href="/src/main/resources/templates/sass/main.css">

</body>
</html>
